<a href="https://colab.research.google.com/github/Aleksandra0001/DataScience/blob/main/HW7_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание 1

В этом задании необходимо создать свой собственный линейный классификатор, а решение рекомендуется оформить в виде jupyter ноутбука.

Мы когда-то уже наблюдали некоторые "игрушечные" датасеты, которые доступны в библиотеки sklearn. Попробуем создать линейную модель для одного такого датасета. Нас будет интересовать "винный" датасет, информацию о котором можно найти [здесь](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_wine.html#sklearn.datasets.load_wine).

1. Загрузите датасет выполнив следующий код:
wine_dataset = load_wine()

In [96]:
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
from sklearn.linear_model import RidgeClassifier

wine_dataset = load_wine(as_frame=True)
wine_dataset.data

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

2. Изучите документацию функции train_test_split. С ее помощью датасет можно разделить на тренировочную и тестовую выборки. Первая нужна для обучения модели, а вторая - для оценки качества модели.

3. Разделите wine_dataset на обучающую и тестовую выборки.

In [ ]:
X, y = load_wine(return_X_y=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

4. Обучите модель на тренировочной выборке и оцените ее качество на тестовой.

In [ ]:
clf = RidgeClassifier().fit(X_train, y_train)
clf.score(X_train, y_train)

1.0

In [ ]:
y_pred = clf.predict(X_test)
(y_pred == y_test).sum()/len(y_pred)

1.0

5. Попробуйте повторить шаги 3 и 4 разбив датасет на обучающую и тестовую выборки в какой-то собственной пропорции. Как это отразилось на качестве модели?

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.9, random_state=0)
clf = RidgeClassifier().fit(X_train, y_train)
clf.score(X_train, y_train)

1.0

In [ ]:
y_pred = clf.predict(X_test)
(y_pred == y_test).sum()/len(y_pred)

0.9627329192546584